$bc-primary: none;
$bc-secondary: rgba(0, 0, 0, 1);
$bc-animation: rgba(157, 92, 208, 1);
$bc-btn: rgba(157, 92, 208, 1);
$chec-animation: rgba(194, 131, 243, 1);

$tc-primary: rgba(51, 51, 51, 1);
$tc-secondary: rgba(255, 255, 255, 1);

$tablet-bp: 991px;
$mobile-bp: 575px;

$index-nav: 500;
$index-search: 500;
$index-header: 100;
$index-hero: 10;
$index-hero-top: 90;
$index-main: 10;
$index-container: 10;
$index-swiper: 4;
$index-event-btns: 30;

$light-middle-gray: #cacaca;
$violet-dark: #7943a4;
$violet-tc-dark: rgba(121, 67, 164, 1);
$violet-light: red; //
$violet-middle: #9d5cd0;
$white: #ffffff;
$violet-ultra-light: #d1a9f0;
$short: 0.3s; //
$dark: black; //
$form-error: rgba(209, 22, 22, 1);

$bp-sm: 502px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxxl: 1680px;