@import "vars";
@import "mixins";

.footer {
  background-color: rgba(0, 0, 0, 1);
  &__container {
    padding-top: 20px;
    padding-bottom: 20px;

    flex-direction: column-reverse;
    align-items: center;
  }

  &__links {
    flex-wrap: wrap;
    max-width: 280px;
    margin-bottom: 15px;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__link {
  }

  &__link-svg {
    width: 50px;
    height: 50px;
  }
}

.footer__link:hover path {
  fill: white;
}

.footer__link:focus path {
  fill: white;
}

.footer__link:focus {
  outline: none;
}

.footer__link:active path {
  fill: rgba(157, 92, 208, 1);
}
