<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link href="assets/images/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link type="image/png" href="assets/images/favicon/favicon-32x32.png" rel="icon" sizes="32x32">
<link type="image/png" href="assets/images/favicon/favicon-16x16.png" rel="icon" sizes="16x16">
<link href="assets/images/favicon/site.webmanifest" rel="manifest">
<link href="assets/images/favicon/safari-pinned-tab.svg" rel="mask-icon" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">

<!-- favicon -->

<link href="assets/css/style.min.css" rel="stylesheet">
<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content>
<title>{{ title }}</title>