<section class="hero">


  <!-- <source srcset="assets/images/hero/neuschwanstein_sm.jpg" media="(max-width: 320px)">
  <source srcset="assets/images/hero/neuschwanstein_md.jpg" media="(max-width: 768px)">
  <source srcset="assets/images/hero/neuschwanstein_lg.jpg" media="(max-width: 1024px)">
  <img src="assets/images/hero/neuschwanstein_xl.jpg" alt="Нойшванштайн"> -->






  <div class="container hero__container d-flex">
    <div class="hero__text">
      <h2 class="hero__title">
        Прикоснитесь к&#160;прекрасному
      </h2>
      <p class="hero__descr">
        Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий создаёт предпосылки для новых <br class="hero__descr-br">
        предложений.
      </p>
    </div>

    <a class="btn  hero__btn js-scroll-link" href="#contacts">
      Подписаться на рассылку
    </a>
  </div>

</section>

<div class="slider-wrapper">
  <div class="js-hero-swiper swiper-container slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide slide-img-1"></div>
      <div class="swiper-slide slide slide-img-2"></div>
      <div class="swiper-slide slide slide-img-3"></div>
    </div>

  </div>
</div>
